---
---

@import "{{ site.theme }}";

.page-header {
    padding: 1rem 1rem;
}

a {
    text-decoration: underline;
}

a:link           { color: #c00 }  /* unvisited links       */
a:visited        { color: #0c0 }  /* visited links         */
a:hover, a:focus { color: #00c }  /* user hovers, or focus */
a:active         { color: #ccc }  /* active links          */