---
layout: default
---
<h1>Concentration in {{ page.title }}</h1>

<em>{{ page.question }}</em>

<p><a href="{{ page.catalog }}">Catalog 2020/2021 Link</a>{% unless page.official %} (Note, this is not an official existing concentration){% endunless %}</p>

<p>Quick links:
    <ul>
        <li><a href="#overview">Overview</a></li>
        <li><a href="#official-description">Official Description</a></li>
        <li><a href="#careers">Example Careers</a></li>
        <li><a href="#relevant-courses">Relevant Courses</a></li>
        <li><a href="#degree-flow">Degree Flow</a></li>
    </ul>
</p>

<h2>Overview</h2>

{{ content }}

<iframe width="644" height="362" src="{{ video }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<h2>Example Careers</h2>

<p>Some example careers that may be well-suited for this concentration:</p>

<ul>
{% for career in page.careers %}
    {% assign career_data = site.careers | where: "name", career | first %}
    <li><strong>{{ career_data.title }}</strong>: {{ career_data.content | markdownify }}</li>
{% endfor %}
</ul>

<p>But remember, there are many more careers out there!</p>

<h2>Relevant Courses</h2>

<ul>
{% for course in page.courses %}
    {% assign course_data = site.courses | where: "code", course | first %}
    <li><a href="{{ course_data.catalog }}"><strong>{{ course_data.code }} - {{ course_data.name }}</strong></a>: {{ course_data.content | markdownify }}</li>
{% endfor %}
</ul>

<h2>Degree Flow</h2>

<p>The <a href="../../core">Core</a> describes the first four semesters.</p>

<p>Afterwards, the last four semesters are as follows:</p>

<img src="../../images/cs_{{ page.code }}.png" />
