---
layout: default
---
<h1>Concentration in {{ page.title }}</h1>

<em>{{ page.question }}</em>

{{ content }}

<h2>Relevant Courses</h2>

<ul>
<p>{{ site.courses }}</p>
<p>{{ site.courses | where: "code", course }}</p>
{% for course in page.courses %}
    {% assign course_data = site.courses | where: "code", course | first %}
    <li>{{ course_data.name }}: {{ course_data.content | markdownify }}</li>
{% endfor %}
</ul>

<h2>Degree Flow</h2>

<p>The <a href="../../core">Core</a> describes the first four semesters.</p>

<p>Afterwards, the last four semesters are as follows:</p>

<img src="../../images/cs_{{ page.code }}.png" />
